<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <connectionStrings>
      <add name ="BAPERS" connectionString ="SERVER=localhost;USERNAME=root;DATABASE=BAPERS;PASSWORD=sahib123;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <appSettings>
      <add key="USERNAME" value="root" />
      <add key="PASSWORD" value="sahib123" />
      <add key="SERVER" value="localhost" />
      <add key="DATABASE" value="BAPERS" />
    </appSettings>
</configuration>